@using LK2.ViewModels

@model NewProductViewModel

<tr id="@Model.categoryID" class="addProduct">
    <td>
        <input type="hidden" name="position" value="@Model.position" />
        <input type="text" name="newSelection" />
    </td>
    <td>
        <select name="productID" class="ddlProducts" onchange="UpdatePrice()">
            @foreach (var product in Model.productsAvailable)
            {
                <option value="@product.productID" price="@product.price">@product.name</option>
            }
        </select>
    </td>
    <td><input type="text" name="price" /></td>
    <td><input type="text" name="newQuantity" /></td>
    <td>
        <a href="javascript:;" onclick="AddProduct()"><i class="material-icons">add</i></a>
    </td>
</tr>