@using Microsoft.AspNetCore.Mvc.Localization
@* The IViewLocalizer can be injected into the view. It does two things of interest:
    1. It can HTML encode *parameters* passed to resource strings (not the resource strings themselves, as they may contain
       HTML) automatically, and return the result as an IHtmlContent so Razor won't HTML encode it again;
    2. It looks for localization resources for this view based on the view path, e.g. if the view's path is
       "MyApplication/Views/Home/Index.cshtml", then the corresponding resource base path will be "MyApplication.Views.Home.Index" *@
@inject IViewLocalizer Localizer
@using LK2.Models
@using LK2.ViewModels

@{
    var categories = ViewBag.Categories as List<CategoryProductLanguage>;
    var products = ViewBag.Products as List<ProductViewModel>;
}

<div class="section step0">
    <div class="row ">
        <div class="collection center-align">
            @{ var index = 1; }
            @foreach (var category in categories)
            {
                <a href="javascript:;" class="collection-item grey lighten-@index" data-content="cat@(category.CategoryProductID)">
                    <p style="font-weight:bold; font-size:20px; color:black;">@category.Name</p>
                </a>
                index++;
            }
        </div>
    </div>
</div>

@foreach (var category in categories)
{
    <div class="section step1 hidden" id="cat@(category.CategoryProductID)">
        <a class="waves-effect btn-small go-home">INDIETRO</a>
        <div class="row">
            @foreach (var product in products.Where(p => p.categoryID.Equals(category.CategoryProductID)))
            {
                <a href="javascript:;" data-content="prod@(product.productID)">
                    <div class="col s12 m4">
                        <div class="card horizontal">
                            <div class="card-image">
                                <img height="115" src="@product.image" />
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <p>@product.name</p>
                                    <p>@string.Format("{0:N2}", product.price) &euro;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
}

@foreach (var product in products)
{
    <div class="section step2 hidden" id="prod@(product.productID)">

        <a class="waves-effect btn-small go-home black">HOME </a> <a class="waves-effect btn-small go-back">INDIETRO</a>
        <div class="row" style="margin-top:7px;">
            <div class="col s12 m6">
                <img src="@product.image" width="100%" />
            </div>
            <div class="col s12 m6">
                <h1>@product.name</h1>
                <p>@Html.Raw(product.description)</p>
                @if (product.categoryID.Equals(1) || product.categoryID.Equals(2))
                {
                    <h3 class="center-align">SELEZIONA LO ZUCCHERO</h3>
                    <div style="margin-bottom:50px;" id="slider-@product.productID" class="slider-pips"></div>
                }
                <a class="waves-effect waves-light btn-large disabled confirm" selection="@product.selection">CONFERMA @string.Format("{0:N2}", product.price) &euro;</a>

            </div>
        </div>
    </div>
}

    <div class="section step3 hidden">
        <h2 class="header center black-text">EROGAZIONE IN CORSO</h2>
        <div class="col s12">
            <div class="progress">
                <div class="determinate" style="width: 0%"></div>
            </div>
        </div>
        <video id="erogation" width="100%">
            <source src="~/assets/videos/Countdown 5 Seconds HD.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

@section js {
    <script type="text/javascript">
        $(function () {
            var categoryID;
            // CHECK PING
            checkCredit();

            // SELEZIONE CATEGORIA
            $('.step0 a').click(function () {
                categoryID = $(this).attr('data-content');
                $('.step0').addClass('hidden');
                $('#' + categoryID).removeClass('hidden');
            });
            // SELEZIONE PRODOTTO
            $('.step1 a').click(function () {
                var productID = $(this).attr('data-content');
                $('.step1').addClass('hidden');
                $('#' + productID).removeClass('hidden');
                checkCredit();
            });

            // CONFERMA PRODOTTO
            // SLIDE
            var sliders = [$('.slider-pips').length - 1];

            $('.slider-pips').each(function (i) {
                var $id = $(this).attr('id');
                sliders[i] = document.getElementById($id);

                noUiSlider.create(sliders[i], {
                    range: {
                        min: 0,
                        max: 6
                    },
                    start: 2,
                    pips: {
                        mode: 'values',
                        values: [0, 1, 2, 3, 4, 5, 6],
                        density: 100
                    }
                });
            });

            $('.confirm').click(function () {
                var selection = $(this).attr('selection');
                $(this).remove();
                $('.step2').addClass('hidden');
                $('.step3').removeClass('hidden');
                erogateProduct(selection);
                progressBar(0);
                var myVideo = document.getElementById("erogation");
                myVideo.play();
                setTimeout(function () { reset(); }, 5000);
            });

            $('.go-home').click(function () {
                reset();
            });

            $('.go-back').click(function () {
                $('#' + categoryID).removeClass('hidden');
                $('.step2:not(.hidden)').addClass('hidden');
            });
        });

        function reset() {
            $('.step0').removeClass('hidden');
            $('.step1:not(.hidden)').addClass('hidden');
            $('.step2:not(.hidden)').addClass('hidden');
            $('.step3:not(.hidden)').addClass('hidden');
            $('.confirm').addClass('disabled');
            $('.determinate').width('0%');
        }

        function progressBar(width) {
            if (width == 100)
                return;
            else {
                width += 1;
                $('.determinate').width(width + '%');
                setTimeout(function () { progressBar(width); }, 40);
            }
        }

        function checkCredit() {
            $.get("/Home/Credit", function (data, status) {
                if (data == 'pong')
                    $('.disabled').removeClass('disabled');
            });
        }

        function erogateProduct(selection) {
            $.post("/Home/Erogate",
                {
                    selection: selection
                },
                function (data, status) {
                    console.log(data);
                });
        }
    </script>
}