@using Microsoft.AspNetCore.Mvc.Localization
@* The IViewLocalizer can be injected into the view. It does two things of interest:
    1. It can HTML encode *parameters* passed to resource strings (not the resource strings themselves, as they may contain
       HTML) automatically, and return the result as an IHtmlContent so Razor won't HTML encode it again;
    2. It looks for localization resources for this view based on the view path, e.g. if the view's path is
       "MyApplication/Views/Home/Index.cshtml", then the corresponding resource base path will be "MyApplication.Views.Home.Index" *@
@inject IViewLocalizer Localizer
@using LK2.Models
@using LK2.ViewModels

@{
    var categories = ViewBag.Categories as List<CategoryProductLanguage>;
    var products = ViewBag.Products as List<ProductViewModel>;
}

<!-- STEP0 LISTA CATEGORIE PRODOTTI -->
<div class="section step0">
    <div class="collection center-align">
        @{ var index = 1; }
        @foreach (var category in categories)
        {
            <a href="javascript:;" class="collection-item valign-wrapper center-align" style="position:relative; background:url(/assets/images/bg-cat@(category.CategoryProductID).jpg); background-size:cover; background-position:center center;" data-content="cat@(category.CategoryProductID)">
                <div style="position: absolute; top: 50%; left: 50%;  transform: translate(-50%,-50%); opacity:0.7; border:2px solid white; padding:40px; width:300px;" class="black">
                    <span style="font-weight:bold; font-size:22px; color:white; text-transform:uppercase;">@category.Name</span>
                </div>
            </a>
            index++;
        }
    </div>
    <div class="carousel carousel-slider">
        <a class="carousel-item" href="javascript:;"><img class="banner" src="~/assets/images/banner.jpg" alt="" /></a>
        <a class="carousel-item" href="javascript:;"><img class="banner" src="~/assets/images/banner_1.png" alt="" /></a>
        <a class="carousel-item" href="javascript:;"><img class="banner" src="~/assets/images/banner.jpg" alt="" /></a>
        <a class="carousel-item" href="javascript:;"><img class="banner" src="~/assets/images/banner_1.png" alt="" /></a>
    </div>
</div>

<!-- STEP1 LISTA PRODOTTI DELLA CATEGORIA -->
@foreach (var category in categories)
{
    <div class="container">
        <div class="section step1 hidden" id="cat@(category.CategoryProductID)">
            <div class="row">
                <h2 class="center-align" style="text-transform:uppercase; font-weight:bold;">@category.Name</h2>
                @foreach (var product in products.Where(p => p.categoryID.Equals(category.CategoryProductID)))
                {
                    <a href="javascript:;" quantity="@product.quantity" class="@(product.quantity.Equals(0) ? "esaurito" : "")" data-content="prod@(product.productID)">
                        <div class="col s12 m3">
                            <div class="card">
                                <div class="card-image">
                                    <img height="auto" src="@product.image" />
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content center-align" style="height:115px;">
                                        <p style="color:black; font-weight:bold; text-transform:uppercase;">@product.name</p>
                                        <p style="color:black; font-weight:bold; text-transform:uppercase;">@string.Format("{0:N2}", product.price) &euro;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
            <a style="width:100%; margin-top:20px;" class="waves-effect btn-large go-home black">INDIETRO</a>
        </div>
    </div>
}
<!-- PRODOTTI SINGOLI -->
@foreach (var product in products)
{
    <div class="container">
        <div class="section step2 hidden" id="prod@(product.productID)">
            <div class="row" style="margin-top:7px;">
                <div class="col s12">
                    <img src="@product.image" width="100%" />
                </div>
                <div class="col s12 center-align">
                    <h1 style="text-transform:uppercase;">@product.name</h1>
                    <span class="center-align" style="font-size:18px;">@Html.Raw(product.description)</span>
                    @if (product.categoryID.Equals(1) || product.categoryID.Equals(2))
                    {
                        <h2 class="center-align">SELEZIONA LO ZUCCHERO</h2>
                        <table cellpadding="2" cellspacing="2" border="0" class="sugar">
                            <colgroup>
                                <col span="1" style="width: 10%;">
                                <col span="1" style="width: 10%;">
                                <col span="1" style="width: 10%;">
                                <col span="1" style="width: 10%;">
                                <col span="1" style="width: 10%;">
                                <col span="1" style="width: 10%;">
                                <col span="1" style="width: 10%;">
                                <col span="1" style="width: 10%;">
                                <col span="1" style="width: 10%;">
                                <col span="1" style="width: 10%;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td><a class="waves-effect waves-light btn-large black removeSugar" href="javascript:;"><i class="material-icons">remove</i>button</a></td>
                                    <td class="amber z-depth-2">1</td>
                                    <td class="amber z-depth-2">2</td>
                                    <td class="amber z-depth-2">3</td>
                                    <td class="amber z-depth-2 current">4</td>
                                    <td class="grey lighten-5 z-depth-2">5</td>
                                    <td class="grey lighten-5 z-depth-2">6</td>
                                    <td class="grey lighten-5 z-depth-2">7</td>
                                    <td class="grey lighten-5 z-depth-2">8</td>
                                    <td><a class="waves-effect waves-light btn-large black addSugar" href="javascript:;"><i class="material-icons">add</i>button</a></td>
                                </tr>
                            </tbody>
                        </table>
                    }
                    <a style="width:100%; margin-top:20px; " class="waves-effect waves-light btn-large disabled confirm green" selection="@product.JsonSelection">CONFERMA @string.Format("{0:N2}", product.price) &euro;</a>
                    <a style="width:100%; margin-top:20px; " class="waves-effect waves-light btn-large go-back black">INDIETRO</a>
                </div>
            </div>
        </div>
    </div>
}
<!-- STEP3 EROGAZIONE -->
<div class="section step3 hidden">
    <div class="container" style="display:table; height:100%;">
        <h2 class="header center black-text">EROGAZIONE IN CORSO</h2>
        <div class="col s12">
            <div class="progress">
                <div class="determinate" style="width: 0%"></div>
            </div>
        </div>
        <video id="erogation" width="100%">
            <source src="~/assets/videos/Countdown 5 Seconds HD.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="carousel carousel-slider">
        <a class="carousel-item" href="javascript:;"><img class="banner" src="~/assets/images/banner.jpg" alt="" /></a>
        <a class="carousel-item" href="javascript:;"><img class="banner" src="~/assets/images/banner_1.png" alt="" /></a>
        <a class="carousel-item" href="javascript:;"><img class="banner" src="~/assets/images/banner.jpg" alt="" /></a>
        <a class="carousel-item" href="javascript:;"><img class="banner" src="~/assets/images/banner_1.png" alt="" /></a>
    </div>
</div>

<!-- LOADER -->
<div class="valign-wrapper white hidden loader" style="position:fixed; top:0; right:0; bottom:0; left:0; opacity:0.7; z-index:1000;">
    <div class="preloader-wrapper big active" style="margin:0 auto;">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>

@section js {
    <script type="text/javascript">
        $(function () {
            $('.loader').toggleClass('hidden');
            setTimeout(function () { 
                $('.step0 .carousel.carousel-slider').carousel({
                    fullWidth: true,
                    numVisible: 1,
                    indicators: true
                });

                // RESIZE STEP0
                var height = $('#index-banner').height();
                var banner = $('.banner').height();
                var fullHeight = height - banner;
                $('.step0').height(fullHeight); 

                $('.loader').toggleClass('hidden');
            }, 2000);
           
            var categoryID;
            // CHECK STATUS
            checkStatus();

            // SELEZIONE CATEGORIA
            $('.step0 a:not(".carousel-item")').click(function () {
                categoryID = $(this).attr('data-content');
                $('.step0').addClass('hidden');
                $('#' + categoryID).removeClass('hidden');
            });
            // SELEZIONE PRODOTTO: se esaurito esce
            $('.step1 a').click(function () {
                if ($(this).hasClass('esaurito'))
                    return false;
                var productID = $(this).attr('data-content');
                $('.step1').addClass('hidden');
                $('#' + productID).removeClass('hidden');
            });

            var sugar = 4;
            $('.addSugar').click(function () {
                if (sugar == 0) {
                    sugar++;
                    var $remove = $(this).parents('table').find('.removeSugar').parent();
                    $remove.next().addClass('current').removeClass('grey lighten-5').addClass('amber');
                }
                else {
                    var $current = $(this).parents('table').find('.current');
                    if (sugar == 8)
                        return false;
                    else {
                        sugar++;
                        $current.removeClass('current');
                        $current.next().addClass('current').removeClass('grey lighten-5').addClass('amber');
                    }
                }
            });
            $('.removeSugar').click(function () {
                var $current = $(this).parents('table').find('.current');
                if (sugar == 0)
                    return false;
                else {
                    sugar--;
                    $current.removeClass('current').removeClass('amber').addClass('grey lighten-5');
                    if (sugar > 0)
                        $current.prev().addClass('current');
                }
            });

            // CONFERMA PRODOTTO
            $('.confirm').click(function () {
                var sugarToErogate = 0;
                var $container = $(this).parent();
                var $sugar = $container.find('.sugar');
                if ($sugar.length == 1) {
                    sugarToErogate = sugar;
                    // Reimposta lo zucchero a 4
                    sugar = 4;
                    $sugar.find('.current').removeClass('current');
                    $sugar.find('.z-depth-2').each(function (i) {
                        if (i <= 3) {
                            $(this).removeClass('grey lighten-5').addClass('amber');
                            if (i == 3)
                                $(this).addClass('current');
                        }
                        else
                            $(this).removeClass('amber').addClass('grey lighten-5');
                    });
                }

                var available = 0;
                var selection = $(this).attr('selection');
                var obj = JSON.parse(selection);
                var i = 0;
                while ((i < obj.length) && (available == 0)) {
                    if (obj[i].quantity > 0) {
                        available = obj[i].selection;
                        obj[i].quantity--;

                        // Diminuisce la quantità e in caso di esaurimento lo disabilita
                        var container = $(this).parents('.step2').attr('id');
                        var $link = $('a[data-content="' + container + '"]');
                        var quantity = $link.attr('quantity');
                        if (quantity == 1)
                            $link.addClass('esaurito');
                        $link.attr('quantity', quantity - 1);
                    }
                    i++;
                }
                $(this).attr('selection', JSON.stringify(obj));
                if (available == 0)
                    return false;
                $(this).addClass('disabled');
                $('.step2').addClass('hidden');
                $('.step3').removeClass('hidden').height(fullHeight);
                $('.step3 .carousel.carousel-slider').carousel({
                    fullWidth: true,
                    numVisible: 1,
                    indicators: true
                });
                $(this).removeClass('disabled');
                erogateProduct(available, sugarToErogate);
                progressBar(0);
                var myVideo = document.getElementById("erogation");
                myVideo.play();
                setTimeout(function () { reset(); }, 5000);
            });

            $('.go-home').click(function () {
                reset();
            });

            $('.go-back').click(function () {
                $('#' + categoryID).removeClass('hidden');
                $('.step2:not(.hidden)').addClass('hidden');
            });
        });

        function reset() {
            $('.step0').removeClass('hidden');
            $('.step1:not(.hidden)').addClass('hidden');
            $('.step2:not(.hidden)').addClass('hidden');
            $('.step3:not(.hidden)').addClass('hidden');
            $('.confirm').addClass('disabled');
            $('.determinate').width('0%');
        }

        function progressBar(width) {
            if (width == 100)
                return;
            else {
                width += 1;
                $('.determinate').width(width + '%');
                setTimeout(function () { progressBar(width); }, 40);
            }
        }

        function checkStatus() {
            $.get("/Home/Status", function (data, status) {
                // Se risposta è 1, allora porta chiusa e rfid attiva
                if (data == '1') {
                    $('.creditHeader').removeClass('red-text').addClass('green-text');
                    $('.disabled').removeClass('disabled');
                    setTimeout(function () { checkStatus(); }, 2000);
                }
                // Se risposta è 0, allora porta chiusa e rfid non attivo
                else if (data == '0') {
                    $('.creditHeader').removeClass('green-text').addClass('red-text');
                    $('.disabled').addClass('disabled');
                    setTimeout(function () { checkStatus(); }, 2000);
                }
                else if (data == '2') {
                    $('.loader').removeClass('hidden');
                    $.get("/Home/Close", function (data, status) {
                        console.log('close');
                    });
                }
            });
        }

        function erogateProduct(selection, sugar) {
            $.post("/Home/Erogate",
                {
                    selection: selection,
                    sugar: sugar
                },
                function (data, status) {
                    console.log(data);
                });
        }
    </script>
}
